@page "/CreatePost"
@inject IPostService PostService
@inject NavigationManager NavMgr
@rendermode InteractiveServer

<div>
    <h3>CreatePost</h3>
    <br>
    <div>
        <label>Title:</label>
        <input type="text" @bind="title"/>
    </div>
    <br>
    <div>
        <label>Body:</label>
        <textarea @bind="body"></textarea>
    </div>
    <br>
    <div>
        <label>AuthorUserId:</label>
        <input type="text" @bind="currentUserId"/>
    </div>
    <br>
    @if (!string.IsNullOrEmpty(message))
    {
        <div>
            <label>@message</label>
        </div>
    }
    <br>
    <div>
        <button @onclick="Create">Create Post</button>
    </div>
</div>

@code {
    private string title = string.Empty;
    private string body = string.Empty;
    private string message = string.Empty;

    private int? currentUserId;
    private async Task Create()
    {
        message = string.Empty; // setting message to "" to clear any previous messages

        // some basic validation checks
        if (string.IsNullOrEmpty(title))
        {
            message = "Title is required";
            return;
        }

        if (string.IsNullOrEmpty(body))
        {
            message = "Body is required";
            return;
        }
        
        var dto = new CreatePostDto
        {
            Title = title,
            Body = body,
            AuthorUserId = (int)currentUserId! // currently not implemented
        };

        try
        {
            PostDto result = await PostService.AddPostAsync(dto);
            NavMgr.NavigateTo("/ViewSinglePost/" + result.Id); // using the navigation manager to redirect to the ViewPost page, where we can see the newly created post.
            // I append the Id of the created post, so that the specific post data can be loaded on the ViewPost page.
            // The PostDto in this case contains more information, than I need, and I could have created a smaller DTO, that only contains the Id.
            // It's better separation of concerns, but you will also end up with a lot of DTOs. So, you must find a balance somewhere.
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

}