@page "/ViewPosts"
@using System.Runtime.Serialization
@inject IPostService PostService
@inject IUserService UserService
@inject NavigationManager NavMgr
@rendermode InteractiveServer
<h3>View Posts</h3>
<div>
    @if(!posts.Any())
    {
        <label>No posts to view</label>
    }
    @if(!string.IsNullOrEmpty(message)){
        <div>
            <label>@message</label>
        </div>
    }
    <div class="col-12">
         <li class="list-group-item list-group-item-action flex-column align-items-start">
                Title <span></span>AuthorName
            </li>
        @foreach(var post in allPosts)
        {
            <a href="/ViewSinglePost/@post.id" class="list-group-item list-group-item-action flex-column align-items-start">
                @post.Title <span> </span>@post.AuthorName
            </a>
        }
    </div>
</div>

@code{
    private string message = string.Empty;
    private IEnumerable<PostDto> posts = [];
        private List<PostOnlyDto> allPosts = new();
    private List<UserDto> users = new();
    public PostDto? postDto;
//    public string ViewPostDetailURI{get; set;}
    protected override async Task OnInitializedAsync()
    {
       posts = await PostService.GetPosts();
        foreach (var p in posts)
    {
        var author = await PostService.GetAuthorOfPost(p.Id);
        allPosts.Add(new PostOnlyDto
        {
            id = p.Id,
            Title = p.Title,
            AuthorName = author.UserName
        });
    }
     }
    private void NavigateToPostDetail()
    {
        NavMgr.NavigateTo("/ViewSinglePost/@post.Id");
    }

  }